Project-3/RESTClient/RESTClient/bootstrap/css/* linguist-vendored
Project-3/RESTClient/RESTClient/bootstrap/js/* linguist-vendored
Project-3/RESTService/project3/AppointmentManager/build/web/* linguist-vendored
